{% extends "::baseEmail.html.twig" %}

{% block body %}
    <h1>Password Reset Instructions</h1>
    <p>Per your request, your password has been reset.  Please click on the link below
        to choose a new password.</p>
    <p><a href="angrychimps.com/auth/resetPassword/{{ reset_code }}">http://angrychimps.com/auth/resetPassword/{{ reset_code }}</a></p>
    <p>If you did not request a password reset, please contact support for further instructions.</p>
{% endblock %}
