<table width="100%" bgcolor="#ff4500">
    <tr>
        <td><h1>Angry Chimps!!!</h1></td>
    </tr>
</table>

{% block body %}
    <i>
        If you get this, our programmers were bad.

        Really bad.

        This is the default template that should never be sent out.

        Sorry!
    </i>
{% endblock %}